<% if user_signed_in? %>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Our Logo</a>
    <form class="form-inline">
      <div style="padding-right: 50px;">
        <a class="navbar-brand nav-link mr-sm-2" href="#" style="font-size: 20px;">
        orders
        </a>
      </div>
      <a class="btn btn-outline-danger" href="<% link_to destroy_user_session_path, :method => :delete %>" role="button">
        Logout
      </a>
    </form>
  </nav>


  <% else %>

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Our Logo</a>
      <form class="form-inline">
        <a class="btn btn-outline-primary" href="/users/sign_in" role="button">
        Login
        </a>
        <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href="/users/sign_up" role="button">
          Sign Up
          </a>
        </div>
      </form>
    </nav>


  <% end %>
