.card {
  height: 250px;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 2px 2px 2px 2px;
}

.card-header {
  font-size: 25px;
  font-style: italic;
}

.card-text {
  font-size: 20px;
}
